.dropdownButton {
  padding: 8px 8px 5px 8px;
  background-color: #fcfcfc;
  font: inherit;

  box-shadow: none;
  line-height: 1.36;
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background: #fff;
  box-sizing: border-box;
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  max-width: 100%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  outline: currentcolor none medium !important;
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #d8dbe0;
  border-radius: 4px;
}

.spanInfo {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spanIcon {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 0;
  font-size: 0;
  color: #ccc;
  margin: 0 0 0 8px;
  fill: currentColor;
  &:hover {
    color: hsl(0, 0%, 60%);
  }
}

.indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 1px;
  margin-top: 1px;
  width: 1px;
  box-sizing: border-box;
}
